@{
    Layout = null;
}
<!--<% Page Language="C#" CodeFile="Index.cs" Inherits="Index" %>-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Data</title>
    <link href="~/Css/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div>
        <h4>Hello <b>MOTHERFUCKER!</b> @DateTime.Now</h4>
    </div>

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Date of Birth</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Иванов</td>
                <td>Сергей</td>
                <td>25.03.1980</td>
                <td>540500 RUB</td>
            </tr>
            <tr>
                <td>Петров</td>
                <td>Василий</td>
                <td>12.01.1985</td>
                <td>600500 RUB</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
