@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Outside</title>
</head>
<body>
    <div>
        <h4>Controller View</h4>
        <h2>ViewBag.page</h2>
    </div>
</body>
</html>
